html{
  background-color: rgb(255, 255, 255);
}
.wrap{
  margin: auto;
  text-align: center;
}
.app{
  display: flex;
  height: 100vh;
}
@media (max-width:520px){
  .app{flex-direction: column;}
  .detail{
    width: 100% !important;
  }
  .list{
    width: 100% !important;
  }
}